darkprlnce/config.py
darkprlnce/*.session
darkprlnce/*.session-journal
darkprlnce/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
darkprlnce/modules/helper_funcs/temp.txt
darkprlnce/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
